.label {
  display: block;
  font-size: 0.875rem;
  font-weight: 500;
  color: var(--text-color);
}

.input {
  margin-top: 0.25rem;
  display: block;
  width: 100%;
  padding: 0.5rem 0.75rem;
  border: 1px solid var(--primary-light);
  border-radius: 0.375rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}
