.dropdown {
  position: relative;
  width: 200px;
}

.dropdownButtonContainer {
  position: relative;
}

.dropdownButton {
  width: 100%;
  padding: 0.5rem 2rem 0.5rem 1rem; /* Add padding for the icon */
  background-color: var(--background-color);
  border: 1px solid var(--primary-light);
  border-radius: 0.375rem;
  text-align: left;
  cursor: pointer;
}

.iconContainer {
  position: absolute;
  top: 50%;
  right: 0.5rem;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
}

.clearButton {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
}

.dropdownList {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  margin-top: 0.25rem;
  padding: 0;
  list-style: none;
  background-color: var(--background-color);
  border: 1px solid var(--primary-light);
  border-radius: 0.375rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.dropdownItem {
  width: 100%;
  padding: 0.5rem 1rem;
  cursor: pointer;
  background: none;
  border: none;
  text-align: left;
}

.dropdownItem:hover {
  background-color: var(--primary-light);
}
