.inputContainer {
  position: relative;
}

.toggleButton {
  position: absolute;
  top: 50%;
  right: 0.5rem;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  cursor: pointer;
}
