.container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-light);
}

.formContainer {
  background-color: var(--background-color);
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 28rem;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1.5rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.divider {
  margin-top: 1.5rem;
  position: relative;
}

.dividerLine {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  height: 1px;
  background-color: var(--primary-light);
}

.dividerTextContainer {
  position: relative;
  display: flex;
  justify-content: center;
  font-size: 0.875rem;
}

.dividerText {
  padding: 0 0.5rem;
  background-color: var(--background-color);
  color: var(--text-color);
}

.loginLinkContainer {
  margin-top: 1rem;
  text-align: center;
  font-size: 0.875rem;
  color: var(--text-color);
}

.loginLink {
  font-weight: 500;
  color: var(--info);
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

.loginLink:hover {
  color: var(--primary-dark);
}
