.button {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0.5rem 1rem;
  border: 1px solid transparent;
  border-radius: 0.375rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  font-size: 0.875rem;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.primary {
  color: var(--background-color);
  background-color: var(--info);
}

.primary:hover {
  background-color: var(--primary-dark);
}

.secondary {
  color: var(--text-color);
  background-color: var(--background-color);
  border: 1px solid var(--primary-light);
}

.secondary:hover {
  background-color: var(--primary-light);
}

.danger {
  color: var(--background-color);
  background-color: var(--danger);
}
